[default]
JUNCTION={junction}
CITY={city}
ACCESS_KEY_ID={access_key_id}
SECRET_ACCESS_KEY={secret_access_key}
FORCE_CONGESTION=MEDIUM
CACHE_RESULTS=False

[requirements]
FLAVOUR=SmartCity
IS_CONFIDENTIAL=False
# PROVIDERS ACCEPT COMMA SEPARATED VALUES LIKE provider1,provider2,...
PROVIDERS=ACISA
# MAX_FUNCTION_EXECUTION_TIME=3.0
# MAX_LATENCY=150
# MIN_ENERGY_RENEWABLE_USAGE=75
LATITUDE=43.05
LONGITUDE=-2.53
     

